<cowHeader></cowHeader>
  <cowSidebar></cowSidebar>
  <div class=" content col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading panel-tabs">
        <h2>Design Administration</h2>
        <toast></toast>
        <ul class="nav nav-tabs" >
          <li ng-repeat='item in menuItems' ng-class="{active : activeMenu === item}">
            <a href="#" ng-click="setActive(item); setMode(item[1])">{{item[0]}}</a>
          </li>
        </ul>
      </div>
      <div class="panel-body editor">
        <form ng-submit="ctl.onSubmit()">
          <div class="form-group">
            <codemirror  ng-init="initMode='css'" ui-codemirror='cmOptions' ng-model="ctl.design.content"></codemirror>
          </div>
          <button type="submit" class="blue-button"><span ng-hide="ctl.execution">Save</span><span ng-show="ctl.execution"><i class="fa fa-spinner fa-pulse fa-fw"></i></span></button>
        </form>
      </div>
    </div>
  </div>
