<header></header>

  <sidebar></sidebar>
  <div class="home content">
    <div class="panel home-panel">
      <button type="button" class="close" >&times;</button>
      <h1>Welcome to COW!</h1>
      <p>This is the Home page for Cow Administration Panel</p>
    </div>
    <div class="panel home-panel">
      <button type="button" class="close" >&times;</button>
      <h1>Welcome to COW!</h1>
      <p>This is the Home page for Cow Administration Panel</p>
    </div>
    <div class="panel home-panel">
      <button type="button" class="close" >&times;</button>
      <h1>Welcome to COW!</h1>
      <p>This is the Home page for Cow Administration Panel</p>
    </div>
    <div class="panel home-panel">
      <button type="button" class="close" >&times;</button>
      <h1>Welcome to COW!</h1>
      <p>This is the Home page for Cow Administration Panel</p>
    </div>
    <div class="panel home-panel">
      <button type="button" class="close" >&times;</button>
      <h1>Welcome to COW!</h1>
      <p>This is the Home page for Cow Administration Panel</p>
    </div>
    <div class="panel home-panel">
      <button type="button" class="close" >&times;</button>
      <h1>Welcome to COW!</h1>
      <p>This is the Home page for Cow Administration Panel</p>
    </div>
    <div class="panel home-panel">
      <button type="button" class="close" >&times;</button>
      <h1>Welcome to COW!</h1>
      <p>This is the Home page for Cow Administration Panel</p>
    </div>
    <div class="panel home-panel">
      <button type="button" class="close" >&times;</button>
      <h1>Welcome to COW!</h1>
      <p>This is the Home page for Cow Administration Panel</p>
    </div>
    <div class="panel home-panel">
      <button type="button" class="close" >&times;</button>
      <h1>Welcome to COW!</h1>
      <p>This is the Home page for Cow Administration Panel</p>
    </div>
    <div class="panel home-panel">
      <button type="button" class="close" >&times;</button>
      <h1>Welcome to COW!</h1>
      <p>This is the Home page for Cow Administration Panel</p>
    </div>
    <div class="panel home-panel">
      <button type="button" class="close" >&times;</button>
      <h1>Welcome to COW!</h1>
      <p>This is the Home page for Cow Administration Panel</p>
    </div>
    <div class="panel home-panel">
      <button type="button" class="close" >&times;</button>
      <h1>Welcome to COW!</h1>
      <p>This is the Home page for Cow Administration Panel</p>
    </div>
    <div class="panel home-panel">
      <button type="button" class="close" >&times;</button>
      <h1>Welcome to COW!</h1>
      <p>This is the Home page for Cow Administration Panel</p>
    </div>
    <div class="panel home-panel">
      <button type="button" class="close" >&times;</button>
      <h1>Welcome to COW!</h1>
      <p>This is the Home page for Cow Administration Panel</p>
    </div>
    <div class="panel home-panel">
      <button type="button" class="close" >&times;</button>
      <h1>Welcome to COW!</h1>
      <p>This is the Home page for Cow Administration Panel</p>
    </div>
    <div class="panel home-panel">
      <button type="button" class="close" >&times;</button>
      <h1>Welcome to COW!</h1>
      <p>This is the Home page for Cow Administration Panel</p>
    </div>
    <div class="panel home-panel">
      <button type="button" class="close" >&times;</button>
      <h1>Welcome to COW!</h1>
      <p>This is the Home page for Cow Administration Panel</p>
    </div>
    <div class="panel home-panel">
      <button type="button" class="close" >&times;</button>
      <h1>Welcome to COW!</h1>
      <p>This is the Home page for Cow Administration Panel</p>
    </div>
    <div class="panel home-panel">
      <button type="button" class="close" >&times;</button>
      <h1>Welcome to COW!</h1>
      <p>This is the Home page for Cow Administration Panel</p>
    </div>
    <div class="panel home-panel">
      <button type="button" class="close" >&times;</button>
      <h1>Welcome to COW!</h1>
      <p>This is the Home page for Cow Administration Panel</p>
    </div>
  </div>
