<section class="login">
  <div class="login-panel">
      <img class="cow-logo center-block" src="img/cow-logo-vertical.svg" alt="Changue our web">
      <div class="login-box">
        <h1 class="form-signin-heading">Login</h1>
        <!--<p>Credentials: user -> admin@cow.com | pass -> development</p>-->
        <form ng-submit="ctl.login()">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="&#xf0e0; Enter your email..." ng-model="ctl.credentials.email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="&#xf13e; Enter your password..." ng-model="ctl.credentials.password">
          </div>
          <div class="login-options">
            <button type="submit" class="black-as-your-soul">Sign in!</button>
            <!-- Trigger the modal with a link -->
            <a class="forgotten-password-link" href="#" data-toggle="modal" data-target="#forgottenPasswordModal">did you forgot your password?</a>
          </div>
        </form>

      </div>
  </div>
  <toast></toast>
  <div class="social-media-list">
    <ul class="list-inline center-block text-center">
      <li><a href="http://facebook.com/"><i class="fa fa-facebook"></i></a></li>
      <li><a href="http://github.com/lucasMontero/cow"><i class="fa fa-github"></i></a></li>
      <li><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
      <li><a href="http://plus.google.com/"><i class="fa fa-google-plus"></i> </a></li>
    </ul>
  </div>
  <!-- Forgotten Password Modal -->
  <div id="forgottenPasswordModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Recover password</h4>
        </div>
        <div class="modal-body">
          <form ng-submit="ctl.recoverUserPassword()">
            <div class="form-group">
              <input type="email" class="form-control" id="fpEmail" placeholder="&#xf0e0; Enter your email..." ng-model="ctl.fpEmail">
            </div>
            <button type="submit" ng-disabled="ctl.execution" class="black-as-your-soul"><span ng-hide="ctl.execution">Send it!</span><span ng-show="ctl.execution"><i class="fa fa-spinner fa-pulse fa-fw"></i></span></button>
          </form>
        </div>
      </div>
      <!-- End modal content-->
    </div>
  </div>
</section>
