<cowHeader></cowHeader>
  <cowSidebar></cowSidebar>
  <div class=" content col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2><span ng-hide="ctl.isEdit">Create a new page</span><span ng-show="ctl.isEdit">Editing a page</span></h2>
        <toast></toast>
      </div>
      <div class="panel-body row">
        <form>
          <div class="col-md-9">
            <div class="form-group">
              <label for="path">Content</label>
              <codemirror  ui-codemirror="cmOptions" ng-init="setMode('xml')" ng-model="ctl.pageForm.content"></codemirror>
            </div>
          </div>
          <div class="col-md-3">
            <label for="Options">Options</label><br>
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" placeholder="Enter a title" ng-model="ctl.pageForm.title">
            </div>
            <div class="form-group">
              <label for="path">Path</label>
              <input type="text" class="form-control" id="path" placeholder="Enter a path" ng-model="ctl.pageForm.path">
            </div>
            <div class="checkbox">
              <input type="checkbox" id="header" ng-checked="ctl.pageForm.header"><label for="header">Have header</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="footer" ng-checked="ctl.pageForm.footer"><label for="footer">Have Footer</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="index"  ng-checked="ctl.pageForm.index"><label for="index">Is index</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="public" ng-checked="ctl.pageForm.public"><label for="public">Is public</label>
            </div>
            <button ng-click="saveAndStay()" type="submit" ng-disabled="ctl.execution" class="form-button blue-button">
              <span ng-hide="ctl.execution">
                <span ng-hide="ctl.isEdit">Create</span><span ng-show="ctl.isEdit">Update</span> & stay
              </span>
              <span ng-show="ctl.execution">
                <i class="fa fa-spinner fa-pulse fa-fw"></i>
              </span>
            </button>
            <button ng-click="saveAndExit()" type="submit" ng-disabled="ctl.execution" class="form-button blue-button">
              <span ng-hide="ctl.execution">
                <span ng-hide="ctl.isEdit">Create</span><span ng-show="ctl.isEdit">Update</span> & close
              </span>
              <span ng-show="ctl.execution">
                <i class="fa fa-spinner fa-pulse fa-fw"></i>
              </span>
            </button>
            <button ng-click="close()" type="submit" ng-disabled="ctl.execution" class="form-button blue-button">
              <span ng-hide="ctl.execution">Close</span>
              <span ng-show="ctl.execution">
                <i class="fa fa-spinner fa-pulse fa-fw"></i>
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
