<header></header>
<div class="row">
  <sidebar></sidebar>
  <div class="col-md-10">

    <h2>Pages Administration</h2>

    <a href="/cow-adm/pages/newPage" class="btn btn-primary" role="button">New Page</a>

    <toast></toast>

    <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Index</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="page in pages | orderBy: 'title'">
              <td>{{page.title}}</a></td>
              <td><i class="fa fa-circle" aria-hidden="true" ng-show="page.index"></i></td>
              <td><a ng-href="/cow-adm/pages/editPage/{{page._id}}">edit</a></td>
              <td><a ng-click="deletePage(page._id)" role="button">delete</a></td>
            </tr>
        </tbody>
      </table>
  </div>

</div>
