<header></header>

  <sidebar></sidebar>
  <div class=" content col-md-10">
     <div class="panel panel-default">
       <div class="panel-heading panel-tabs">
         <h2>Settings</h2>
          <ul class="nav nav-tabs" >
            <li ng-repeat='item in menuItems' ng-class="{active : activeMenu === item}">
              <a href="#" ng-click="setActive(item)">{{item[0]}}</a>
            </li>
          </ul>
        </div>
        <div class="panel-body">
          <generalsettings ng-show="activeMenu[1] === 1"></generalsettings>
          <mailingsettings ng-show="activeMenu[1] === 2"></mailingsettings>
        </div>
      </div>
  </div>
