<cowHeader></cowHeader>
  <cowSidebar></cowSidebar>
  <div class=" content col-md-10">
    <div class="panel panel-default">
      <div class="col-md-12 panel-heading">
        <h2 class="col-md-4 section-title">Users Administration</h2>
        <form class="col-md-8 panel-form" action="/cow-adm/users/newUser">
          <input type="submit" class="blue-button" value="New User" />
        </form>
        <toast></toast>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users | orderBy: 'name'">
              <td><a ng-href="/cow-adm/users/profile/{{user._id}}">{{user.name}}</a></td>
              <td>{{user.email}} </td>
              <td><a ng-href="/cow-adm/users/editUser/{{user._id}}">edit</a></td>
              <td><a ng-click="deleteUser(user._id)" role="button">delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
