<header></header>
<div class="row">
  <sidebar></sidebar>
  <div class=" content col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">

        <h2>Users Administration</h2>

        <a href="/cow-adm/users/newUser" class="btn btn-primary" role="button">New User</a>

        <toast></toast>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users | orderBy: 'name'">
              <td><a ng-href="/cow-adm/users/profile/{{user._id}}">{{user.name}}</a></td>
              <td>{{user.email}} </td>
              <td><a ng-href="/cow-adm/users/editUser/{{user._id}}">edit</a></td>
              <td><a ng-click="deleteUser(user._id)" role="button">delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
