@import "./panels/_mailing.scss";
@import "./panels/_settings.scss";

.content{
  padding-top: 30px;
  position: relative;
  top: 30px;
  left: 16%;
  margin-right: 15px;
  width: 83.33333333%;
  .panel{
    margin: 30px 0 30px 0;

    .panel-heading{
      @include background-image-color(white, white);
      .panel-form{
        padding-top: 15px;
      }
    }
  }

  .panel-tabs{
    padding: 10px 15px 0 15px;
  }

  .editor{
    background-color: #263238;
  }

  .fa-circle{
      color: $green-dark;
  }
}

@media (max-width: 1080px) {
  .content {
    left: 0%;
    width: 100%;
  }
}
