.content{
  padding-top: 30px;
  position: relative;
  top: 30px;
  left: 16%;
  margin-right: 15px;
  width: 83.33333333%;
}


.section-title{
  width: 30%;
}

.panel{
  margin: 30px 0 30px 0;

  .panel-heading{
    @include background-image-color(white, white);
  }
}

.panel-tabs{
  padding: 10px 15px 0 15px;
}

.editor{
  background-color: #263238;
}

.fa-circle{
    color: green;
}
