.header{
  height: 50px;
  position: fixed;
  width: 100vw;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 5px 0.5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0.5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0.5px rgba(0,0,0,0.75);
  @include background-image-color($dark-blue-light, $dark-blue-dark);


  a{
    line-height: 50px;
    color: white;
  }

  a:hover{
    color: #393536;
  }

  img:hover{
    opacity: 0.9;
  }

  .user-menu{
    margin-right: 30px;
  }

  .responsive-menu{
    display: none;
  }

  @media (max-width: 1080px) {
    a{
      padding: 0px;
    }

    .user-menu{
      display:none;
    }

    .responsive-menu{
      display: inline;;
    }
  }

  @media (max-width: 600px) {
    a{
      margin-left: 15px;
    }
  }

  .burger-check, .burger{
  line-height: 50px;
  }

  .burger-check{
    display:none;
  }
  .burger{
    font-size: 2em;
    margin: 0;
    color: white;
  }
  .burger:hover{
    opacity: 0.7;
  }
}
