.header{
  height: 50px;
  position: fixed;
  width: 100vw;
  z-index: 100;
  @include background-image-color(#252522, #292526);

  a{
    line-height: 50px;
    color: white;
  }

  a:hover{
    color: #393536;
  }

  img:hover{
    opacity: 0.9;
  }

  .user-menu{
    margin-right: 30px;
  }
}
