.sidebar-nav{
  position: fixed;
  top: 50px;
  height: 100vh;
  width: 16.66666667%;
  margin-right: 15px;

  .navbar-default{
    height: 100%;
    overflow-y: auto;
    border-radius: 0px;
    margin-right: 15px;
    border: 0;
    -webkit-box-shadow: 0px 0px 5px 0.5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0.5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0.5px rgba(0,0,0,0.75);
    @include background-image-color($white-dark, $white-light);
  }
  .navbar-collapse {
    padding: 0;
  }

  .navigator{
    margin-top: 30px;

    li{
      width: 100%;
      border-left: 3px solid $dark-blue-light;
      background: linear-gradient(to left,  rgba(0,0,0,0) 50%, $dark-blue-light 50%);
      background-size: 200% 100%;
      background-position:right bottom;
      @include transition(all, 0.5s, ease);

      a{
        color: $black-dark;
      }
      a:hover{
        color: $white-light;
      }
    }

    li:hover{
      background-position:left bottom;
    }

    .sub-nav{
      width: 100%;

      li{
        padding-left: 10px;
      }

      li:hover{
        opacity: 0.7;
      }

    }
  }
}
