/*@mixin box-shadow($hShadow $vShadow $blur $spread $color){
  -webkit-box-shadow: $hShadow $vShadow $blur $spread $color;
  -moz-box-shadow: $hShadow $vShadow $blur $spread $color;
  box-shadow: $hShadow $vShadow $blur $spread $color;
}*/
@font-face {
  font-family: pressStart;
  src: url("../../../fonts/PressStart2P-Regular.ttf"); }

.custom-button, .blue-button, .green-button, .mainteance-trigger, .red-button, #mainteance:checked ~ .mainteance-trigger {
  position: relative;
  vertical-align: top;
  width: 100px;
  height: 40px;
  padding: 0;
  font-size: 14px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  border-bottom-width: 0px;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  cursor: pointer; }

.custom-button:active, .blue-button:active, .green-button:active, .mainteance-trigger:active, .red-button:active, #mainteance:checked ~ .mainteance-trigger:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.blue-button {
  background: #5d9cec; }

.green-button, .mainteance-trigger {
  background: #8cc152; }

.red-button, #mainteance:checked ~ .mainteance-trigger {
  background: #fc6e51; }

.alert {
  margin: 20px 0; }
  .alert .message {
    font-family: pressStart;
    font-size: 10px;
    margin-left: 5px; }

.modal-content {
  border-radius: 2px; }
  .modal-content .modal-header {
    border-bottom: 0px; }

.form-control:focus {
  border-color: #5D9CEC;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 25, 21, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 25, 21, 0.6); }

.form-group input[type="password"], .form-group input[type="email"] {
  font-family: Arial, FontAwesome; }

@media only screen and (min-width: 400px) {
  .login-panel {
    margin-top: 10%; } }
@media only screen and (min-width: 400px) {
  .login-panel {
    margin-top: 10%; } }
@media only screen and (max-width: 640px) {
  .login-panel {
    margin-top: 10%; } }
@media only screen and (min-width: 800px) {
  .login-panel {
    margin-top: 10%; } }
@media only screen and (min-width: 1000px) {
  .login-panel {
    margin-top: 10%; } }
@media only screen and (max-width: 1280px) {
  .login-panel {
    margin-top: 10%; } }
@media only screen and (min-width: 1366px) {
  .login-panel {
    margin-top: 10%; }

  .cow-logo {
    width: 120.94792px;
    height: auto; }

  .alert {
    padding: 10px; } }
@media only screen and (min-width: 1600px) {
  .login-panel {
    margin-top: 10%; }

  .cow-logo {
    width: 180px;
    height: auto; } }
@media only screen and (min-width: 1920px) {
  .login-panel {
    margin-top: 30%; }

  .cow-logo {
    width: 170px;
    height: auto; } }
.login {
  margin: 0 auto;
  width: 500px; }

.login-box {
  background-color: white;
  border-radius: 2px;
  padding: 30px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.75); }
  .login-box h1 {
    margin-top: 0px; }
  .login-box .forgotten-password-link {
    float: right;
    vertical-align: bottom; }

.social-media-list ul {
  margin: 20px auto;
  width: 500px; }
.social-media-list i {
  width: 40px;
  height: 40px;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  padding-top: 15%; }
.social-media-list .fa-facebook {
  color: #3B5998; }
.social-media-list .fa-twitter {
  color: #56D7FE; }
.social-media-list .fa-github {
  color: #24292E; }
.social-media-list .fa-google-plus {
  color: #DD4B39; }
.social-media-list .fa-facebook:hover, .social-media-list .fa-twitter:hover, .social-media-list .fa-github:hover, .social-media-list .fa-google-plus:hover {
  opacity: 0.7; }

.header {
  height: 50px;
  position: fixed;
  width: 100vw;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.75);
  background-image: -webkit-linear-gradient(top, #5d9cec 0%, #4a89dc 100%);
  background-image: -o-linear-gradient(top, #5d9cec 0%, #4a89dc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5d9cec), to(#4a89dc));
  background-image: linear-gradient(to bottom, #5d9cec 0%, #4a89dc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff{$color1}', endColorstr='#ff{$color2}', GradientType=0);
  background-repeat: repeat-x; }
  .header a {
    line-height: 50px;
    color: white; }
  .header a:hover {
    color: #393536; }
  .header img:hover {
    opacity: 0.9; }
  .header .user-menu {
    margin-right: 30px; }
  .header .responsive-menu {
    display: none; }
  @media (max-width: 1080px) {
    .header a {
      padding: 0px; }
    .header .user-menu {
      display: none; }
    .header .responsive-menu {
      display: inline; } }
  @media (max-width: 600px) {
    .header a {
      padding-left: 15px; } }
  .header .burger-check, .header .burger {
    line-height: 50px; }
  .header .burger-check {
    display: none; }
  .header .burger {
    font-size: 2em;
    margin: 0;
    color: white; }
  .header .burger:hover {
    opacity: 0.7; }

.sidebar-nav {
  position: fixed;
  top: 50px;
  height: 100vh;
  width: 16.66666667%;
  margin-right: 15px;
  min-width: 200px;
  z-index: 99; }
  .sidebar-nav .navbar-default {
    height: 100%;
    overflow-y: auto;
    border-radius: 0px;
    margin-right: 15px;
    border: 0;
    -webkit-box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.75);
    background-image: -webkit-linear-gradient(top, #e6e9ed 0%, #f5f7fa 100%);
    background-image: -o-linear-gradient(top, #e6e9ed 0%, #f5f7fa 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e9ed), to(#f5f7fa));
    background-image: linear-gradient(to bottom, #e6e9ed 0%, #f5f7fa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff{$color1}', endColorstr='#ff{$color2}', GradientType=0);
    background-repeat: repeat-x; }
  .sidebar-nav .navbar-collapse {
    padding: 0; }
  .sidebar-nav .navigator {
    margin-top: 30px; }
    .sidebar-nav .navigator li {
      width: 100%;
      border-left: 3px solid #5d9cec;
      background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, #5d9cec 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease; }
      .sidebar-nav .navigator li a {
        color: #434a54; }
      .sidebar-nav .navigator li a:hover {
        color: #f5f7fa; }
    .sidebar-nav .navigator li:hover {
      background-position: left bottom; }
    .sidebar-nav .navigator .active-custom {
      background-color: #5d9cec; }
      .sidebar-nav .navigator .active-custom a {
        color: white; }
    .sidebar-nav .navigator .sub-nav {
      width: 100%; }
      .sidebar-nav .navigator .sub-nav li {
        padding-left: 10px; }
      .sidebar-nav .navigator .sub-nav li:hover {
        opacity: 0.7; }
    .sidebar-nav .navigator .responsive {
      display: none; }
    @media (max-width: 1080px) {
      .sidebar-nav .navigator .responsive {
        display: inline-block; }
      .sidebar-nav .navigator li {
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px; } }

.test-mail {
  margin-bottom: 15px; }

#mainteance {
  visibility: hidden;
  position: absolute; }

.mainteance-trigger {
  line-height: 40px;
  padding: 0; }

/* Toggled State */
.content {
  padding-top: 30px;
  position: relative;
  top: 30px;
  left: 16%;
  margin-right: 15px;
  width: 83.33333333%; }
  .content .panel {
    margin: 30px 0 30px 0; }
    .content .panel .panel-heading {
      background-image: -webkit-linear-gradient(top, white 0%, white 100%);
      background-image: -o-linear-gradient(top, white 0%, white 100%);
      background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
      background-image: linear-gradient(to bottom, white 0%, white 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff{$color1}', endColorstr='#ff{$color2}', GradientType=0);
      background-repeat: repeat-x; }
      .content .panel .panel-heading .panel-form {
        padding-top: 15px; }
  .content .panel-tabs {
    padding: 10px 15px 0 15px; }
  .content .editor {
    background-color: #263238; }
  .content .fa-circle {
    color: #8cc152; }

@media (max-width: 1080px) {
  .content {
    left: 0%;
    width: 100%; } }
.frontNav {
  background-color: red; }

html {
  height: 100%; }

body {
  background-color: #EFF1F2;
  color: #393536;
  width: 100%;
  min-height: 100%; }

a:active, a:focus, button:active, button:focus {
  outline: none;
  -moz-outline-style: none; }

a, a:hover {
  color: #5d9cec; }

#toast {
  position: fixed;
  min-width: 40%;
  z-index: 100;
  right: 60px;
  bottom: 0px; }

.home {
  padding-left: 15px;
  padding-top: 60px;
  display: flex;
  flex-flow: row wrap; }
  .home .home-panel {
    width: 47.5%;
    min-height: 200px;
    margin: 0 2.5% 25px 0;
    padding: 15px;
    -webkit-box-shadow: 3px 3px 5px 0px #cccccc;
    -moz-box-shadow: 3px 3px 5px 0px #cccccc;
    box-shadow: 3px 3px 5px 0px #cccccc; }

.fill {
  min-height: 100%;
  height: 100%; }
