#sidebar-nav{
  list-style: none;
  padding: 0;
}

.fa-circle{
    color: green;
}

.logo-big{
  width: 250px;
  height: auto;
}

.user-menu{
  margin-right: 20px;
}

.center{
    float: none;
    margin: 0 auto;
}
