<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="pages">Pages</a>
        </li>
        <li>
            <a href="multimedia">Multimedia</a>
        </li>
        <li>
            <a href="plugins">Plugins</a>
        </li>
        <li>
            <a href="themes">Themes</a>
        </li>
        <li>
            <a href="users">Users</a>
        </li>
        <li>
            <a href="options">Options</a>
        </li>
    </ul>
</div>
