<div id="sidebar-wrapper">
    <ul id="sidebar-nav">
        <li>
            <a class="list-group-item" href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
        </li>
        <li>
          <a class="list-group-item" href="pages"><i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i>&nbsp; Pages</a>
        </li>
        <li>
          <a class="list-group-item" href="multimedia"><i class="fa fa-picture-o fa-fw" aria-hidden="true"></i>&nbsp; Multimedia</a>
        </li>
        <li>
          <a class="list-group-item" href="plugins"><i class="fa fa-archive fa-fw" aria-hidden="true"></i>&nbsp; Plugins</a>
        </li>
        <li>
            <a class="list-group-item" href="themes"><i class="fa fa-paint-brush fa-fw" aria-hidden="true"></i>&nbsp; Themes</a>
        </li>
        <li>
            <a class="list-group-item" href="users"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Users</a>
        </li>
        <li>
            <a class="list-group-item" href="options"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Settings</a>
        </li>
    </ul>
</div>
