
<navigation></navigation>
<sidebar></sidebar>
<div class="col-md-10" ng-init="value='css'; mode='cssOptions';refreshCodemirror = false ">
  <h2>Design Administration</h2>
  <toast></toast>
  <ul class="nav nav-tabs" >
    <li ng-repeat='item in menuItems' ng-class="{active : activeMenu === item}">
      <a href="#" ng-click="setActive(item)">{{item}}</a>
    </li>
  </ul>
  <form ng-submit="ctl.onSubmit()">
    <div class="form-group">
        <codemirror id="editor" ui-codemirror='htmlOptions' ng-model="ctl.pageForm.content"></codemirror>
    </div>
    <button type="submit" class="btn btn-default">Save</button>
  </form>
</div>
