<navigation></navigation>
<sidebar></sidebar>

<div class="col-md-10">

  <h2>Settings</h2>

  <div class="panel panel-default col-md-3">
    <a href="#"><div class="panel-body">General</div></a>
  </div>
  <div class="panel panel-default col-md-3">
    <a href="#"><div class="panel-body">Mail</div></a>
  </div>
  <div class="panel panel-default col-md-3">
    <a href="#"><div class="panel-body">Ip Ban</div></a>
  </div>
  <div class="panel panel-default col-md-3">
    <a href="#"><div class="panel-body">Limit Login</div></a>
  </div>
</div>
