@import 'partials/_mixins';
@import 'partials/_fonts';
@import 'partials/_buttons';
@import 'partials/_toast';
@import 'views/_login';

body{
  background-color: #EFF1F2;
  color: #393536;
}

a:active, a:focus, button:active, button:focus {
  outline: none;
  -moz-outline-style: none;
}

input::-moz-focus-inner {
  border: 0;
}

#sidebar-nav{
  list-style: none;
  padding: 0;
}

.fa-circle{
    color: green;
}

.user-menu{
  margin-right: 20px;
}

.center{
    float: none;
    margin: 0 auto;
}
