@import 'partials/_mixins';
@import 'partials/_toast';

@import 'views/_login';

body{
  background-color: #EFF1F2;
  color: #393536;
}

.horizontal-list{
  padding: 0;
  overflow: auto;
  li{
    list-style-type: none;
  	float: left;
  }
}

#sidebar-nav{
  list-style: none;
  padding: 0;
}

.fa-circle{
    color: green;
}

.user-menu{
  margin-right: 20px;
}

.center{
    float: none;
    margin: 0 auto;
}
