<div class="row header">
    <div class="col-md-2">
      <a class="center-block" href="/cow-adm/home"><img src="img/cow-logo-horizontal.svg" height="35px" alt="Changue our web"></a>
    </div>
    <nav class="col-md-2 col-md-offset-8">
        <ul class="nav navbar-nav navbar-right user-menu">
          <li><a ng-href="/cow-adm/users/profile/{{hedCtl.currentUser._id}}">{{hedCtl.currentUser.name}}</a></li>
          <li><a ng-click="logout()" role='button'>logout</a></li>
        </ul>
    </nav>
</div>
