<toast></toast>
<form ng-submit="stMailingCtl.onSubmit()">
          <div class="form-group">
              <label for="mailHost">Host</label>
              <input type="text" class="form-control" id="host" placeholder="Enter your mail provider host. Example: smtp.gmail.com" ng-model="stMailingCtl.mailForm.host">
          </div>
          <div class="form-group">
              <label for="mailPort">Port</label>
              <input type="text" class="form-control" id="port" placeholder="Enter the port of that host" ng-model="stMailingCtl.mailForm.port">
          </div>
          <div class="checkbox">
              <input type="checkbox" id="secure" ng-checked="stMailingCtl.mailForm.secure"><label for="secure">Secure</label>
          </div>
          <h4>Authentication</h4>
          <div class="form-group">
              <label for="mailUsername">User</label>
              <input type="text" class="form-control" id="username" placeholder="Enter your username" ng-model="stMailingCtl.mailForm.username">
          </div>
          <div class="form-group">
              <label for="mailPassword">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter your password (This will appear always empty for security reasons)." ng-model="stMailingCtl.mailForm.password">
          </div>
          <button type="submit" ng-disabled="stMailingCtl.execution" class="btn btn-default"><span ng-hide="stMailingCtl.execution">Save</span><span ng-show="stMailingCtl.execution"><i class="fa fa-spinner fa-pulse fa-fw"></i></span></button>
</form>

<h3>Test mailing configuration</h3>
<form ng-submit="stMailingCtl.onTestMail()">
    <label for="testMail">To</label>
    <input type="text" class="form-control" id="test" ng-model="stMailingCtl.mailTo">
    <button type="submit" ng-disabled="stMailingCtl.execution" class="btn btn-default"><span ng-hide="stMailingCtl.execution">Send</span><span ng-show="stMailingCtl.execution"><i class="fa fa-spinner fa-pulse fa-fw"></i></span></button>
</form>
