<nav ng-hide="sideCtl.responsiveMenu" class="sidebar-nav" role="navigation">
    <div class="navbar navbar-default">
        <ul class="navigator nav navbar-nav">
          <li ng-class="sideCtl.menuView() == 'home'? 'active-custom' : ''">
            <a href="/cow-adm/home"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home {{responsiveMenu}}</a>
          </li>
          <li ng-class="sideCtl.menuView() == 'pages'? 'active-custom' : ''">
            <a href="/cow-adm/pages"><i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i>&nbsp; Pages</a>
          </li>
          <li class="sub-nav" ng-show="sideCtl.menuView() == 'pages'">
            <a href="/cow-adm/pages/newPage">New Page</a>
          </li>
          <li ng-class="sideCtl.menuView() == 'multimedia'? 'active-custom' : ''">
            <a href="/cow-adm/multimedia"><i class="fa fa-picture-o fa-fw" aria-hidden="true"></i>&nbsp; Multimedia</a>
          </li>
          <li ng-class="sideCtl.menuView() == 'plugins'? 'active-custom' : ''">
            <a href="/cow-adm/plugins"><i class="fa fa-archive fa-fw" aria-hidden="true"></i>&nbsp; Plugins</a>
          </li>
          <li ng-class="sideCtl.menuView() == 'design'? 'active-custom' : ''">
            <a href="/cow-adm/design"><i class="fa fa-paint-brush fa-fw" aria-hidden="true"></i>&nbsp; Design</a>
          </li>
          <li ng-class="sideCtl.menuView() == 'users'? 'active-custom' : ''">
            <a href="/cow-adm/users"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Users</a>
          </li>
          <li class="sub-nav" ng-show="sideCtl.menuView() == 'users'">
            <a href="/cow-adm/users/newUser">New User</a>
          </li>
          <li ng-class="sideCtl.menuView() == 'settings'? 'active-custom' : ''">
            <a href="/cow-adm/settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Settings</a>
          </li>
          <li class="responsive">
            <a ng-click="logout()" role='button'><i class="fa fa-external-link" aria-hidden="true"></i>&nbsp; Logout</a>
          </li>
        </ul>
    </div>
</nav>
