<nav class="sidebar-nav" role="navigation">
    <div class="navbar navbar-default">
        <ul class="navigator nav navbar-nav">
          <li>
            <a href="/cow-adm/home"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
          </li>
          <li>
            <a href="/cow-adm/pages"><i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i>&nbsp; Pages</a>
          </li>
          <li>
            <a href="/cow-adm/multimedia"><i class="fa fa-picture-o fa-fw" aria-hidden="true"></i>&nbsp; Multimedia</a>
          </li>
          <li>
            <a href="/cow-adm/plugins"><i class="fa fa-archive fa-fw" aria-hidden="true"></i>&nbsp; Plugins</a>
          </li>
          <li>
            <a href="/cow-adm/design"><i class="fa fa-paint-brush fa-fw" aria-hidden="true"></i>&nbsp; Design</a>
          </li>
          <li>
            <a href="/cow-adm/users"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Users</a>
            <ul class="sub-nav nav navbar-nav" ng-show="sideCtl.menuView() == 'users'">
              <li>
                <a href="/cow-adm/users/newUser">New User</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/cow-adm/settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Settings</a>
          </li>
        </ul>
    </div>
</nav>
