<div id="toast" class="alert alert-danger" ng-show="ctl.toast.status == 'error'">
  <button type="button" class="close" ng-click="ctl.toast.status = 'null'" data-dismiss="modal">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
  <i class="fa fa-exclamation-circle" aria-hidden="true"></i><span id="message" class="message" ng-bind="ctl.toast.message"></span>
</div>

<div id="toast" class="alert alert-success" ng-show="ctl.toast.status == 'ok'">
  <button type="button" class="close" ng-click="ctl.toast.status = 'null'" data-dismiss="modal">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
  <i class="fa fa-check" aria-hidden="true"></i><span id="message" class="message" ng-bind="ctl.toast.message"></span>
</div>
