//Colors
$vermellion-light:  #ED5565;
$vermellion-dark:   #DA4453;
$red-light:         #FC6E51;
$red-dark:          #E9573F;
$yellow-light:      #FFCE54;
$yellow-dark:       #F6BB42;
$green-light:       #A0D468;
$green-dark:        #8CC152;
$green-aqua-light:  #48CFAD;
$green-aqua-dark:   #37BC9B;
$light-blue-light:  #4FC1E9;
$light-blue-dark:   #3BAFDA;
$dark-blue-light:   #5D9CEC;
$dark-blue-dark:    #4A89DC;
$purple-light:      #AC92EC;
$purple-dark:       #967ADC;
$pink-light:        #EC87C0;
$pink-dark:         #D770AD;
$white-light:       #F5F7FA;
$white-dark:        #E6E9ED;
$grey-light:        #CCD1D9;
$grey-dark:         #AAB2BD;
$black-light:       #656D78;
$black-dark:        #434A54;
