<section class="download row">
  <div class="col-md-12 content-download">
    <div class="col-md-6">
      <img class="cow-logo center-block" src="img/cow-logo-vertical.svg" alt="Changue our web">
    </div>
    <div class="col-md-6">
      <a href="#" class="center-block button"><i class="fa fa-download" aria-hidden="true"></i> Latest version</a>
      <a href="https://github.com/LucasMontero/COW" class="center-block button"><i class="fa fa-github" aria-hidden="true"></i> Source code</a>
    </div>
  </div>
</section>
<section class="info">
  <article>
    <h2>Installation</h2>
    <p>Easy!Appointments is a web application and it needs a web server (Apache or Nginx) with PHP and MySQL to run on.
      Perform the following steps for a successful installation:</p>
    <ol>
      <li>Make sure that your server has Apache/Nginx, PHP and MySQL installed.</li>
      <li>Make sure that your server has Apache/Nginx, PHP and MySQL installed.</li>
      <li>Make sure that your server has Apache/Nginx, PHP and MySQL installed.</li>
      <li>Make sure that your server has Apache/Nginx, PHP and MySQL installed.</li>
    </ol>
    <p>That's it! You can now use Easy!Appointments at your will! You can find a more detailed installation guide in
      the GitHub wiki pages of the project.
    </p>
  </article>
  <article>
    <h2>Updates</h2>
    <p>There are three things that you will need to do in order to update an existing Easy!Appointments installation.</p>
    <ol>
      <li>Backup your Easy!Appointments files and database.</li>
      <li>Backup your Easy!Appointments files and database.</li>
      <li>Backup your Easy!Appointments files and database.</li>
    </ol>
  </article>
  <article>
    <h2>Support</h2>
    <p>If you encounter any problems when using Easy!Appointments you can search the official Support Group for answers.
      You can also create new issues on GitHub and get involved in the development progress with pull requests or other
      suggesions. Follow Easy!Appointments on WordPress, Facebook, Google+, Twitter and get the latest updates! </p>
  </article>
</section>
